@font-face{
    font-family: 'Avenir-Black';
    src: url('/font/Avenir-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

ul, body, h1, h2, h3, table, tr, td{
    margin: 0;
    padding: 0;
}

button:hover{
    cursor: pointer;
}

body{
    margin: 0;
    font-family: 'Avenir-Black', sans-serif;
    font-size: 14px;
    width: 100%;
}

.block{
    margin: auto;
    display: flex;
    width: 1110px;
}


/************** HEADER *************************/

.header{
    display: flex;
    background: #ffc600;
}

.logo{
    margin-top: 5px;
    width: 28.5%;
}

/* .header__content{
    margin-left: 109px;
} */

.header__firsLine{
    display: flex;
    flex-wrap: wrap;
    margin-top: 19px;

}

.pading_7{
    margin-right: 7px;
}

.search__select{
    width: 148px;
    font-family: 'Avenir-Black', sans-serif;
    border: 1px solid black;
    border-radius: 3px;
    background: #000;
    color: #fff;
    font-size: 14px;
    display: flex;
}

.search {
    max-width: 507px;
    min-width: 200px;
    height: 40px;
    position: relative;
    display: flex;
    flex: 1;
}

.searchTerm {
    width: 100%;
    border: 0px solid #fff;
    border-right: none;
    padding-left: 8px;
    border-radius: 3px 0 0 3px;
    outline: none;
    font-family: 'Avenir-Black', sans-serif;
    color: #000;
    display: flex;
}
  
.searchTerm:focus{
    color: #000;
}
  
.searchButton {
    width: 40px;
    height: 40px;
    border: 0px solid #000;
    background: #fff;
    text-align: center;
    color: #000;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    font-size: 14px;
}

.switch{
    border-radius: 25px;
    display: flex;
}

input[type=radio]{
    display: none;
}

.switch label{
    cursor: pointer;
    padding: 4px;
    font-size: 12px;
    line-height: 16px;
}

.switch input + label{
    background: #000;
    transition: .2s;
}

.switch input:checked + label{
    background: #fff;
    transition: .2s;
}

.btn__inloggen{
    border: 0;
    border-radius: 3px;

    background: white;
    font-family: 'Avenir-Black', sans-serif;
    font-size: 14px;
}

.btn_card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 84px;
    min-height: 40px;
    padding: 0 15px;
    border: 0;
    border-radius: 3px;


    background: #000;
    color: #fff;
    
    font-size: 20px;
}

.btn_col_elem{
    display: flex;
    flex-direction: column;
    font-family: 'Avenir-Black', sans-serif;
    font-size: 14px;
    margin-top: 8px;
    line-height: 8px;
}


.list{
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    margin: 7px 0 0 0;
    padding: 0;

    font-size: 12px;
}

.list > li {
    margin-right: 20px;
}

li {
    list-style: none;
}

li i.fa{
    font-size: 14px;
    margin-right: 10px;
}




/************** HEADER *************************/




/************** FIRST____SECTION****************/

.first__section{
    margin-top: 52px;
}

.nav{
    display: flex;
    flex-direction: column;
    
    line-height: 29.5px;
}

.main{
    display: flex;
    flex-wrap: wrap;

    margin-left: 170px;
}

.main > div{
    background: rgb(240, 240, 240);
    margin-right: 4px;
}

.main > div:nth-child(2n){
    margin-right: 0;
}


h2{
    font-size: 32px;
    margin: 0;
}

.main_prposal{
    display: flex;
    padding: 30px 36px 38px 35px;
    min-height: 163px;
    min-width: 400px;
    margin-bottom: 9px;
}


.schedule{
    min-width: 260px;
    max-height: 231px;
}

.schedule_header{
    padding: 21px 0 15px 34px;
}

.schedule_header span{
    display: block;
}

.schedule_block{
    padding-top: 20px;
}

.schedule_icon{
    padding: 0 6px 0 10px;
}


.schedule_time{

    padding: 0 23px 0 32px;
    display: flex;
    justify-content: space-between;
}



.button_bestel_nu{
    margin: 0;
    height: 40px;
    width: 78px;
    margin-top: 12px;
}

.black_button{
    background: #000;
    border: 0;
    color: #fff;
    font-family: 'Avenir-Black', sans-serif;
    font-size: 14px;
    border-radius: 3px;
}

.main_prposal__img{
    margin: 18px 0 0 15px;
    height: 145px;
    width: 136px;
}

.description__buttton{
    display: flex;
    flex-direction: column;
}

.prposal_bottom{
    height: 225px;
    width: 389.5px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0 20px;
}



.prposal_description{
    font-size: 24px;
}

/* .img_prposal{
    float: right;
} */

/************** FIRST____SECTION****************/

/************************** Секция 2 (карусель)****************/

    
.second_section{
    margin-top: 40px;
}

.bestselers{
    padding: 10px 0 12px 26px;
}

.second_section .block{
    display: block;
    background: rgb(240, 240, 240);
}

.carusel{
    border-top: 1px solid rgb(221, 221, 221);
    display: flex;    
    justify-content: space-between;
    height: 278px;
}

/* .carusel::before{
    content: '<';
    background: #ffc600;
} */

div.unshowd{
    display: none;
}

.carusel .show{
    min-width: 221px;
    border-right: 1px solid rgb(221, 221, 221);
    padding: 40px 50px;
    display: block;
    text-align: center;
}

.carusel .show:last-of-type{
    border-right: none;
}

.img_carusel{
    min-width: 117px;
    min-height: 82px;
}

.img_carusel > img{
    margin: 0;
    
}

.description_carusel{
    min-width: 135px;
    text-align: left;

    margin-top: 30px;
    line-height: 18px;
}

.name_carusel{
    display: block;
}

.price_carusel{
    font-size: 40px;
}





/************************** Секция 3****************/

.section_three{
    margin-top: 40px;
    display: flex;
    
    flex-wrap: wrap;
}

.section_three .block{
    display: flex;
    flex-wrap: wrap;
}

.white_text{
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 27px;
}


.block_caption{
    margin-right: 6px;
    min-width: 552px;
    height: 224px;
}

.block_caption:last-child{
    margin-right: 0;
}

.caption{
    padding: 23px 0 0 26px;
}

.firs_img{
    background: url(/image/bg1.png);
    background-size: 100%;
}

.sec_img{
    background: url(/image/bg2.png);
    background-size: 100%;
}

/****************FOOTER*************/

h3{
    font-size: 24px;
}

footer{
    margin-top: 40px;
}

.block_footer{
    display: flex;
    flex-wrap: wrap;
}

.footer_first{
    background: rgb(240, 240, 240);
}

.footer_blockname{
    margin-bottom: 14px;
    margin-top: 46px;
}

.footer__first_block{
    width: 30%;
}

.footer__second_block{
    width: 25%;
}

.footer__third_block{
    width: 45%;
}

.footer_last_block_content{
    display: flex;
}

/* .footer_images{
    width: 211px;
}

.footer_images_img{
    width: 100%;
} */

/* .half_width{
    width: 50%;
} */


.footer_form{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.block_footer_form{
    width: 57%;
}

.footer_images_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}



.footer_form input{
    height: 40px;
    font-family: 'Avenir-Black', sans-serif;
}

.email_input{
    padding-left: 10px;
    border: 0;
    margin-bottom: 6px;
}

.last_footer{
    min-height: 38px;
}

.last_footer ul{
    display: flex;
    flex-direction: row;
}

.last_footer ul a{
    border-right: 1px solid black;
}


@media (max-width: 768px){
    .block{
        margin: auto;
        display: flex;
        max-width: 768px;
    }

    .logo{
        margin-top: 5px;
        width: 15%;
    }

    .nav{
        display: none;
    }

    .search{
        width: 100%;
    }

    .main{
        display: flex;
        flex-wrap: wrap;
    
        margin-left: 0px;
    }

    .main_prposal{
        display: flex;
        justify-content: space-around;
        padding: 30px 36px 38px 35px;
        min-height: 163px;
        min-width: 100vw;
    }

}
