@media (max-width: 1169px){
    .logo{
        margin-left: 20px;
    }

    .nav{
        margin-left: 20px;
    }

    .header__firsLine{
        margin-right: 20px;
    }

    .carusel_button{
        display: none;
    }
}

@media (max-width: 1060px){
    .header__secondLine{
        margin: 8px 0 8px 0;
    }
}


@media (max-width: 980px){
    section{
        margin-top: 20px;
    }
    .firstsection__wrapper{
        margin-top: 20px;
    }
    .carusel_item{
        flex: 0 0 25%;
    }

    .block_footer{
        display: block;
        width: 100%;

        padding-left: 100px;
    }
    
    .media_footer{
        width: 100%;
    }

    .footer__first_block{
        width: 48%;
    }
    
    .footer__second_block{
        width: 52%;
    }
    
    .footer__third_block{
        width: 100%
    }
    
    .block_footer_form{
        width: 48%;
        margin-right: 0px;
    }

    .footer_form{
        width: 70%;
    }
}

@media (max-width: 910px){
    .nav{
        display: none;
    }

    .burger{
        display: flex;
    }

    .header__firsLine{
        position: relative;
    }

    .right{
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .logo{
        margin-left: 40px;

        width: 13%;
    }

    .header__firsLine{
        flex-wrap: wrap;
    }

    .search{
        width: 73%;

        margin-bottom: 10px;
    }

    .inloggen_btn{
        width: 20%;
    }
    
    .btn_card{
        width: 12%;
    }

    .main{
        width: 100%;
    }
}


@media (max-width: 830px){
    .search{
        width: 70%;
    }
}

@media (max-width: 782px){
    .carusel_item{
        flex: 0 0 33.33%;
    }
}

@media (max-width: 670px){
    .search{
        width: 62%;
    }

    .search__select{
        width: 25%;
    }

    .sectionThree__wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .img_item{
        padding-left: 0;
        padding-bottom: 5px;
        /* justify-content: space-between; */
    }

    .inloggen_btn{
        width: 25%;
    }
    
    .btn_card{
        width: 20%;
    }
}

@media (max-width: 600px){
    .last_footer{
        position: relative;
        flex-direction: column;
        padding-left: 20px;
    }

    h2{
        font-size: 2.2em !important;
        line-height: 42px;
    }
}


@media (max-width: 560px){
    .search{
        width: 55%;
    }

    .block_footer{
        padding-left: 20px;
    }
}

@media (max-width: 500px){
    
    
    h3{
        font-size: 2em !important; 
    }
    
    h4{
        font-size: 1.5em;
        line-height: 32px;
    }
}
