@media (max-width: 1169px){
    .logo{
        margin-left: 20px;
    }

    .nav{
        margin-left: 20px;
    }

    .header__firsLine{
        margin-right: 20px;
    }

    .carusel_button{
        display: none;
    }
}

@media (max-width: 1060px){
    .header__secondLine{
        margin: 8px 0 8px 0;
    }
}

@media (max-width: 910px){
    .nav{
        display: none;
    }

    .logo{
        margin-left: 40px;

        width: 13%;
    }

    .header__firsLine{
        flex-wrap: wrap;
    }

    .search{
        width: 81%;

        margin-bottom: 10px;
    }

    .inloggen_btn{
        width: 20%;
    }
    
    .btn_card{
        width: 15%;
    }

    .main{
        width: 100%;
    }
}

@media (max-width: 980px){
    section{
        margin-top: 20px;
    }
    .firstsection__wrapper{
        margin-top: 20px;
    }
    .carusel_item{
        flex: 0 0 25%;
    }

    .block_footer{
        display: block;
        width: 100%;

        padding-left: 100px;
    }
    
    .media_footer{
        width: 100%;
    }

    .footer__first_block{
        width: 48%;
    }
    
    .footer__second_block{
        width: 52%;
    }
    
    .footer__third_block{
        width: 100%
    }
    
    .block_footer_form{
        width: 48%;
        margin-right: 0px;
    }

    .footer_form{
        width: 70%;
    }
}

@media (max-width: 782px){
    .carusel_item{
        flex: 0 0 33.33%;
    }
}
