.sectionThree__wrapper{
    display: flex;
    justify-content: space-between;
}

.img_item{
    position: relative;
    /* flex: 1 1 49%; */
    
    padding-left: 5px;
    justify-content: space-between;
    /* display: flex; */
    
    
    /* overflow: hidden; */
}

.img_item:first-of-type{
    padding-left: 0;
}

.img img{
    display: block;
    width: 100%;
}

.sectionThree__text{
    color: #fff;

    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 2;
}