@import url(header.css) all; 
@import url(firstSection.css) all; 
@import url(carusel.css) all; 
@import url(sectionThree.css) all; 
@import url(footer.css) all; 
@import url(media.css) all; 


@font-face{
    font-family: 'Avenir-Black';
    src: url('/font/Avenir-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: 'Avenir-Black', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

ul, body, h1, h2, h3, h4, table, tr, td{
    margin: 0;
    padding: 0;
}

h2{
    font-size: 2.85em;
    line-height: 42px;
}

h3{
    font-size: 2.28em;
}

h4{
    font-size: 1.7em;
    line-height: 32px;
}

body{
    font-size: 14px;
}

li{
    list-style: none;
}

.block{
    max-width: 1100px;
    margin: 0 auto;
}

section{
    margin-top: 40px;
}

button{
    border: 0;
    outline: none;
    cursor: pointer;
}

.black_button{
    border: 0;
    background: #000;
    color: #fff;
    padding: 12px 9px;
    border-radius: 3px;
}

.btn__white{
    background: #fff;
}

.border{
    border-top: 1px solid rgb(255, 145, 0);
    border-left: 1px solid rgb(255, 145, 0);
    border-right: 1px solid rgb(255, 145, 0);
}